{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/ebfacebook/css/jquery.qtip.min.css'
            filter='cssrewrite'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
            {% javascripts  'bundles/ebfacebook/js/jquery.qtip.min.js'
                            'bundles/ebfacebook/js/ebfacebook.js'
            %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <!-- Vars usable in JS -->
        <input type="hidden" id="pathRouteInSession" value="{{ path('route_in_session') }}" />
        <input type="hidden" id="pathSecurityLogin" value="{{ path('_security_check') }}" />
        <input type="hidden" id="isConnected" value="{{ is_granted('IS_AUTHENTICATED_FULLY') ? 'yes' : 'no' }}" />

        {% block layout_msg %}
        <ul style='display:none'>
            <li id='layout.invitation'>{{ 'layout.invitation'|trans({}, "EBFacebookBundle") }}</li>
        </ul>
        {% endblock %}
        
        <div class="wrap page-{{ route }}">
            {% block header %}
            {% endblock header %}
            {% block content %}
            <div class="content content-{{ route }}">
                {% block body %}
                {% endblock body %}
                {% block overlay %}
                    {% if app.session.get('liked') == false %}
                    <div class="overlay overlay-wrap">
                        <div class="overlay-like"></div>
                    </div>
                    {% endif %}
                {% endblock overlay %}   
            </div>
            {% endblock content %}
            {% block footer %}
            <div class="footer">
                <div class="footer-inner">
                    {% block footer_inner %}
                        <div class="footer-title">{% block footer_title %}Règlement{% endblock footer_title %}</div>
                        {% block footer_content %}
                        {% endblock footer_content %}
                    {% endblock footer_inner %}
                </div>
            </div>
            {% endblock footer %}
        </div>

        {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
        {{ ebfacebook_initialize({'user': app.user }) }}

        <script type="text/javascript" >
            function onFbInit() {
                if (typeof(FB) !== 'undefined' && FB !== null ) {
                    FB.Canvas.setAutoGrow();
                }
            }
        </script>

        {% block more %}
        {% endblock more %}
    </body>
</html>